extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
        br
        a(href="/goal/table") 目標一覧
        br
        a(href="/subject/table") 教科一覧
    else
      div
        a(href="/login") ログイン
