extends layout

block content
  h1 Auxilium
  p Welcome to Auxilium
  div
    if user
      div
        a(href="/logout") #{user.username} をログアウト
        br
        a(href="/record/table") 記録一覧
        br
        a(href="/reference/table") 参考書一覧
        br
        a(href="/subject/table") 教科一覧
        br
        a(href="/goal/table") 目標一覧
    else
      div
        a(href="/login") ログイン
