extends layout

block content
  form(action="/reference", method="post").my-5
    .form-group.row
      label(for="inputName").col-sm-2.col-form-label.text-center 教材名
      .col-sm-10
        input(type="text" name="referenceName" id="inputName" required).form-control
    .form-group.row
      label(for="inputNumber").col-sm-2.col-form-label.text-center 問題数・ページ数
      .col-sm-10
        input(type="number" name="referenceNumber" id="referenceName" min="1" max="2147483648").form-control
    .form-group.row
      label(for="inputSubject").col-sm-2.col-form-label.text-center 科目
      .col-sm-10
        select(id="inputSubject" name="subjectChoice").custom-select.mr-sm-2
          if subjects
            each subject in subjects
              option(value=subject.subjectId) #{subject.subjectName}
          option(value="notCategorize") 未分類
    .form-group.row
      button(type="submit").btn.btn-primary.col-sm-2 参考書を追加