extends layout
include components/csrf

block content
  form(action="/subject", method="post").my-5
    +csrf(csrfToken)
    .form-group.row
      label(for="inputSubject").col-sm-2.col-form-label.text-center 科目名
      .col-sm-10
        input(type="text" name="subjectName" id="inputSubject" required).form-control
    .form-group.row
      label(for="inputColor").col-sm-2.col-form-label.text-center 科目のテーマ色
      .col-sm-10
        input(type="color" name="subjectColor" id="inputColor")
    .form-group.row
      button(type="submit").btn.btn-primary.col-sm-2 教科を追加