extends layout

block content
  form(action="/referenceBook", method="post")
    div
      h5 参考書名
      input(type="text", name="referenceName")
    div
      h5 問題数・ページ数
      input(type="number", name="referenceNumber", min="1",max="2147483648")