extends layout

block content
  if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/subject/new") 教科を追加する
      - var hasSubject=subjects.length>0
      if hasSubject
        h3 教科一覧
        table.table
          tr
            th 教科名
          each subject in subjects
            tr
              td
                a(href=`/subject/${subject.subjectId}`) #{subject.subjectName}
  else
    div
      a(href="/login") ログイン